/* ini CSS */

.html-container {
    background-size: cover;
    color: black;
    background-image: url(https://blue.kumparan.com/image/upload/fl_progressive,fl_lossy,c_fill,q_auto:best,w_640/v1634025439/01gz3021symepastawkrgf03jt.jpg);
    font-family: sans-serif;
    
}

.header-footer-container {
    text-align: center;
    font-weight: bold;
    background-color: green;
    
}


.celsius-container {
    text-align: center;
    background-color: lightgreen;
    color: black;
    max-width: 400px;
    margin: 40px auto auto auto ;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.celsius2-container {
    text-align: center;
    display: grid;
    max-width: 400px;
    margin: 40px auto auto auto ;
    background-color: greenyellow;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Fahrenheit-container {
    background-color: greenyellow;
    color: black;
    max-width: 400px;
    margin: 40px auto auto auto ;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.convertion-container {
    background-color: greenyellow;
    color: black;
    max-width: 400px;
    margin: 40px auto auto auto ;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.result-container {
    display: flex;
    justify-content: space-evenly;
}

textarea {
    resize: none;
    background-color: #f8f8f8;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-family: math;
    font-size: 14px;
}

.button {
    border: 0px solid #ccc;
    border-radius: 10px;
    font-family: math;
    font-size: 14px;
    height: 1cm
}

.blue-color {
    background-color: blue;
    color: white;
}

.black-color {
    background-color: black;
    color: white;
}

.red-color {
    background-color: red;
    color: white;
}

.formula-container {
    text-align: center;
    background-color: green;
}

.subject-info {
    font-size: 24px;
    font-style: italic;
    font-family: math;
}
